{% extends "layout.html" %}

{% block body %}
<div id="about">
  {{ this.about }}
</div>
<div id="theme" class="flex">
  <div class="col-50">
    <h2>Theme</h2>
    {{ this.theme }}
  </div>
  <div class="col-50">
    <img src="{{ '/static/superheroes.png'|asseturl }}">
  </div>
</div>



<div id="venue" class="flex">
  <div class="venue-map col-50">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.3988456867542!2d10.71474115194775!3d59.94211688178853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416de89f1967b1%3A0x56cb0ed695aeb069!2sStartupLab!5e0!3m2!1sen!2sno!4v1535317202572" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="venue-text col-50">
    <h2>Kick Off Eveving (<b>Sept. 11th, 2018</b>)</h2>
    {{ this.venue_kickoff }}
  </div>
</div>

<div id="venue" class="flex">
  <div class="venue-map col-50">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.1323458087118!2d10.73913385194684!3d59.91335088177797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416cfbca9043c7%3A0x58b22fb30976dc1!2sComputas!5e0!3m2!1sen!2sno!4v1535317742723" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="venue-text col-50">
    <h2>Weekly Projects' Gathering</h2>
    {{ this.venue_gathering }}
  </div>
</div>




<div id="schedule">
  <h2>Schedule</h2>
  <h3>Day 1 - Kick Off (Sept. 11th 2018)</h3>
  <table class="row">
  {% for blk in this.schedule_day_1.blocks %}
    {{ blk }}
  {% endfor %}
  </table>
  <h3>Day 2</h3>
  <table class="row">
  {% for blk in this.schedule_day_2.blocks %}
    {{ blk }}
  {% endfor %}
  </table>
  <h3>Workshops</h3>
  <h4>Main Hall</h4>
  <table class="row">
  {% for blk in this.workshops_main.blocks %}
    {{ blk }}
  {% endfor %}
  </table>
  <h4>Room A</h4>
  <table class="row">
  {% for blk in this.workshops_room_a.blocks %}
    {{ blk }}
  {% endfor %}
  </table>
  <h4>Room B</h4>
  <table class="row">
  {% for blk in this.workshops_room_b.blocks %}
    {{ blk }}
  {% endfor %}
  </table>
</div>
<div id="speakers">
  <h2 class="center">Speakers</h2>
  <div class="flex flex-center">
  {% for blk in this.speakers.blocks %}
    {{ blk }}
  {% endfor %}
  </div>
</div>
<div id="tickets">
  <h2>Tickets</h2>
  <div
    data-tb="ticket-form"
    data-event="4703"
    data-headline='false'
  ></div>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://cdn.ticketbase.com/widgets/v0.1/ticketbase.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','ticketbase-wjs');</script>
</div>
<div id="sponsors" class="center">
  <h2>
    This event was made possible with the<br>
    help of our generous sponsors
  </h2>
  <h2>Gold Sponsors</h2>
  <ul>
    {% for blk in this.gold_sponsors.blocks %}
      {{ blk }}
    {% endfor %}
  </ul>
  <h2>Bronze Sponsors</h2>
  <ul>
    {% for blk in this.bronze_sponsors.blocks %}
      {{ blk }}
    {% endfor %}
  </ul>
  <h2>Marketing Partners</h2>
  <ul>
    {% for blk in this.marketing_partners.blocks %}
      {{ blk }}
    {% endfor %}
  </ul>
  <h2>Media Partners</h2>
  <ul>
    {% for blk in this.media_partners.blocks %}
      {{ blk }}
    {% endfor %}
  </ul>
  <p>
    Interested in sponsoring this event?
    Inquire at <a href="mailto:team@dataforgood.no">team@dataforgood.no</a>
  </p>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/smooth-scroll/7.1.1/js/smooth-scroll.min.js"></script>
<script src="{{ '/static/gumshoe.min.js'|asseturl }}"></script>
<script src="{{ '/static/bricks.min.js'|asseturl }}"></script>
<script src="{{ '/static/root.js'|asseturl }}"></script>
{% endblock %}
